.about{
    background-color: $thirdColor;
    clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}
.about-wrapper{
    position: relative;
}
.shape{
    width: 10%;
    position: absolute;
}
.section-header{
    p,
    h2{
        text-align: center;
    }
    
}
