.about{
    background-color: $thirdColor;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    height: auto;
    .text-container{
        text-align: center;
        flex-basis: 30%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        p{
           color: $fontTwo;
           line-height: 30px;
           transition: 0.2s;
            &:focus,
             &:hover{
                scale: 101%;
                color: $firstColor;
             }
           
        }
        article{
            padding-top: 10%;
            color: $fontThree;
            line-height: 25px;
        }
        button{
            margin-top: 10%;
            color: $fontFour;
            text-transform: uppercase;
            font-family: $mainFont;
            font-weight: 600;
            border: none;
            background-color: $thirdColor;
            align-self: flex-end;
            cursor: pointer;
            transition: 0.5s;
             &:focus,
             &:hover{
                scale: 1.1;
                text-decoration: underline;
                color: $firstColor;
             }
        }
        
    }
    .image-container{
        flex-basis: 23%;
        background-color: $fourColor;
        margin-left: 5%;
        
    }

    
}
.about-wrapper{
    padding-top: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3%;
    .triangle{
        left: 10%;
        width: 10%;
    }
    .circle{
        left: 10%;
        width: 6%;
        top: 25%;
    }
    .thin-circle{
        width: 2%;
        right: 5%;
        bottom:10%;
    }
}

.section-header{
    p,
    h2{
        text-align: center;
        
    }
    .divider{
        color: brown;
        font-size: 2.5rem;
    }
    p{
        padding-left: 45%;
        margin: 0;
    }
    h2{
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.section-content{
    margin-top: 3%;
    display: flex;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    p,
    article{
        text-align: left;
    }
}
@media (max-width: 940px) {
    .about{
        .image-container{
            flex-basis: 30%;
        }
        .text-container{
            flex-basis: 45%;
            padding-bottom: 10%;
            p{
                margin: 0;
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .about{
        .image-container{
            flex-basis: 50%;
            margin-bottom: 10%;
        }
        .text-container{
            flex-basis: 50%;
            
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .about{
        .about-wrapper{
            padding-top: 0;
        }
        .image-container{
            flex-basis: 45%;
        }
        .text-container{
            flex-basis: 55%;
            margin-left: 2%;
            p{
                font-size: 1rem;
                line-height: 25px;
                text-align: end;
            }
            article{
                display: none;
            }
            
        }
    }
}