.contact{
    background-color: #f8ca4d;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    .form-section{
        margin-top: 2%;
        width: 500px;
    }
    form{
        display: flex;
        flex-direction: column;
        
    }
    button{
        margin-top: 10%;
        color: $fontFour;
        text-transform: uppercase;
        font-family: $mainFont;
        font-weight: 600;
        border: none;
        background-color: $firstColor;
        width: 20%;
        align-self: center;
        border: 1px solid $fontFour;
        padding: 1%;
        transition: 0.2s;
            &:focus,
             &:hover{
                scale: 1.1;
                
             }
    }
}