.contact{
    background-color: $firstColor;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: $fontOne;
    position: relative;
    a{
        color: white;
        text-decoration: none;
    }
    .triangle{
        width: 10%;
        left: 5%;
    }
    .circle{
        width: 5%;
        right: 7%;
        bottom: 15%
    }
    .thin-circle{
        width: 3%;
        top: 10%;
        right: 30%;

    }
    .form-section{
        margin-top: 2%;
        width: 600px;
    }
    form{
        display: flex;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        padding: 5% 10% 0% 10%;
        label{
            color: $fontOne;
        }
        input{
            width: 100%;
            background: none;
            border: none;
            border-bottom: 2px solid $fontOne;
            padding: 2%;
            margin: 0% 10% 5% 0%;
            outline: none;
            &::placeholder{
                color: $fontOne;
                font-family:$mainFont ;
                font-weight: 600;
            } 
        }
        textarea{
            width: 100%;
            background: none;
            border: 2px solid $fontOne;
            // outline: none;
            resize: none;
            border-radius: 10px;
        }
        
    }
    button{
        border-radius: 10px;
        margin-top: 10%;
        margin-right: 12%;
        color: $fontFour;
        text-transform: uppercase;
        font-family: $mainFont;
        font-weight: 600;
        border: none;
        background-color: $firstColor;
        width: 20%;
        align-self: center;
        border: 1px solid $fontFour;
        padding: 1%;
        transition: 0.2s;
        width: 150px;
            &:focus,
             &:hover{
                scale: 1.1;
                
             }
    }

    .my-info{
        text-align: center;
        width: 200px;
        .email{
            color: $fontFour;
        }
        p{
            margin-top: 20%;
            font-family: $mainFont;
            font-weight: 600;
            color: $fontOne;
        }
        .icons{
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin-left: 10%;
            color: $fontOne;
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .contact{
        .triangle{
            width: 15%;
            left: 5%;
        }
        .circle{
            width: 15%;
            right: 7%;
            bottom: 15%
        }
        .thin-circle{
            width: 8%;
            top: 10%;
            right: 5%;
    
        }
        .form-section{
            width: 400px;
        }

    }
}