footer{
    background-color: #f8ca4d;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 1rem;
        font-family: $mainFont;
        color: $fontOne;
    }
    
}