@import "./variable";
header{
    height: 80vh;
    background-color: #f8ca4d;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
    display: flex;
    justify-content: center;
}
.wrapper{
    margin: 0 auto;
    padding: 0;
    rotate: -90deg;
    height: 20%;
    position: fixed;
}
h1{
    margin: 0;
    color: white;
    font-size: 5rem;
    vertical-align:text-top;
    font-family: $mainFont;
    width: 50%;
    line-height: 5.5rem;
    //rotate: -90deg;
    span{
        font-size: 8rem;
    }
}
.dev-header{
    //rotate: -90deg;
    font-family: $mainFont;
    color: $fontFour;
    font-size: 1.5rem;
    margin: 2%;
}