@import "./variable";
header{
    height: 80vh;
    background-color: #f8ca4d;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
    display: flex;
    justify-content: center;
    position: relative;
    .triangle{
        width: 12%;
        right: 10%;
        bottom: 35%;

    }
    .circle{
        width: 8%;
        left: 10%;
        top: 1%;
    }
    .thin-circle{
        width: 5%;
        left: 26%;
        bottom: 5%
    }
}
.wrapper{
    margin-right: 5%;
    padding: 0;
    rotate: -90deg;
    height: 20%;
}
h1{
    margin: 0;
    color: white;
    font-size: 5rem;
    vertical-align:text-top;
    font-family: $mainFont;
    width: 50%;
    line-height: 5.5rem;
    //rotate: -90deg;
    span{
        font-size: 8rem;
    }
}
.dev-header{
    //rotate: -90deg;
    font-family: $mainFont;
    color: $fontFour;
    font-size: 1.5rem;
    margin: 2%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    header{

        .triangle{
            width: 24%;
            right: 10%;
            bottom: 35%;
    
        }
        .circle{
            width: 16%;
            left: 10%;
            top: 1%;
        }
        .thin-circle{
            width: 10%;
            left: 26%;
            bottom: 5%
        }
    }
    h1{
        width: 80%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    header{
        height: 65vh;
        .triangle{
            width: 28%;
            right: 10%;
            bottom: 35%;
    
        }
        .circle{
            width: 20%;
            left: 10%;
            top: 1%;
        }
        .thin-circle{
            width: 15%;
            left: 26%;
            bottom: 5%
        }
        h1{
            font-size: 3.5rem;
            margin-left: -20%;
            span{
                font-size: 6rem;
                line-height: 3.5rem;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    nav{
       .menu{
         display: none;
        }
        .menu-button-container{
            margin-left: 0;
        }
    }
    header{
        height: 50vh;
        .wrapper{ 
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            height: 80%;
        }
        h1{
            margin-top: 20%;
            margin-left: -5%;
            text-align: center;
        }
        .dev-header{
            margin-top: -15%;
            font-size: 1.2rem;
        }
        .triangle{
            width: 28%;
            right: 1%;
            bottom: 35%;
    
        }
        .circle{
            width: 20%;
            left: 10%;
            top: 5%;
        }
        .thin-circle{
            width: 15%;
            left: 20%;
            bottom: 15%
        }
    }
    
}