.my-work{
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
   clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $secColor;
    position: relative;
    .triangle{
        width: 10%;
        left: 88%;
    }
    .circle{
        right: 10%;
        width: 6%;
        top: 45%;
    }
    .thin-circle{
        width: 2%;
        left: 5%;
        bottom:10%;
    }
    button{
        margin-top: 10%;
        color: $fontFour;
        text-transform: uppercase;
        font-family: $mainFont;
        font-weight: 600;
        border: none;
        background-color: $secColor;
        cursor: pointer;
        transition: 0.5s;
         &:focus,
         &:hover{
            scale: 1.1;
            color: $firstColor;
         }
    }
    a{
        text-decoration: none;
        color: $fontFour;
        &:focus,
         &:hover{
            text-decoration: underline;
            color: $firstColor;
         }
    }
}
.project-wrapper{
    margin: 0 auto;
    width: 62%;
    height: auto;
    .project{
        margin-top: 10%;
        display: flex;
        flex-wrap: wrap;
    }
    .thumnail{
        flex-basis: 55%;
        position: relative;
    }
    .image-container{
        box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.75);
    }
    .gif-container{
        position: absolute;
        opacity: 0;
        transition: 0.5s;
        top: 0;
        width: 100%;
        &:focus,
        &:hover{
            opacity: 1;
            display: block;
         }
    }
    .text-container{
        flex-basis: 40%;
        text-align: center;
        padding-bottom: 2%;
    }
    .t1{
        margin-left: 2%;
    }
    .t2{
        order: -1;
        margin-right: 2%;
    }
    h3{
        margin: 0;
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .project-wrapper{
        width: 80%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .my-work{
        .section-header{
            padding-top: 5%;
        }
    }
    .project-wrapper{
        width: 100%;
        .t2{
            order: 1;
        }
        .thumnail,
        .text-container{
            margin-left: 12%;
        }
        .thumnail{
            flex-basis: 80%;
        }
        .text-container{
            margin-top: 5%;
            flex-basis: 80%;;
            p{
                display: none;
            }
            button{
                margin-top: 2%;
            }
        }
    }
}