.skills{
    background-color: $firstColor;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    height: 15vh;
    .skill-icon{
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i{
        font-size: 3rem;
        margin: 2%;
        transition: 0.5s;
        &:hover{
            color: $secColor;
            scale: 1.1;
        }
    }
}