//fonts
$mainFont:'Montserrat', sans-serif;
$subFont:'Open Sans', sans-serif;
//font colors
$fontOne:white;
$fontTwo:black;
$fontThree:rgb(158, 158, 158);
$fontFour:#fe6192;
//bg-colors
$firstColor:#f8ca4d ;
$secColor:white;
$thirdColor:#f7f7f7;
$fourColor:rgb(233, 232, 232)

