//fonts
$mainFont:'Montserrat', sans-serif;
$subFont:'Roboto', sans-serif;
//font colors
$fontOne:white;
$fontTwo:black;
$fontThree:grey;
$fontFour:#fe6192;
//bg-colors
$firstColor:#f8ca4d ;
$secColor:white;
$thirdColor:#f7f7f7;

