@import url(https://fonts.googleapis.com/css?family=Raleway);
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

body {
  background-color: #f7f7f7;
  font-family: "Open Sans", sans-serif;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: "Montserrat", sans-serif;
}
body p {
  font-size: 1.2rem;
}
body h1 {
  font-size: 5.5rem;
}
body h2 {
  font-size: 4rem;
}
body h3 {
  font-size: 2rem;
}

.shape {
  position: absolute;
}

.top-nav {
  border-radius: 10px;
  z-index: 10;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8ca4d;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  height: 50px;
  padding: 1em;
  right: 2%;
}
.top-nav div {
  margin-right: 8px;
}
.top-nav li:hover, .top-nav li:focus {
  background: #f8ca4d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu a {
  color: white;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.menu-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
}

.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .top-nav {
    right: auto;
    margin-left: 2%;
  }
}
header {
  height: 80vh;
  background-color: #f8ca4d;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
header .triangle {
  width: 15%;
  right: 10%;
  bottom: 35%;
}
header .circle {
  width: 8%;
  left: 10%;
  top: 1%;
}
header .thin-circle {
  width: 5%;
  left: 26%;
  bottom: 5%;
}

.wrapper {
  margin-right: 5%;
  padding: 0;
  rotate: -90deg;
  height: 20%;
}

h1 {
  margin: 0;
  color: white;
  font-size: 5rem;
  vertical-align: text-top;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  line-height: 6rem;
}
h1 span {
  font-size: 8.5rem;
}

.dev-header {
  font-family: "Montserrat", sans-serif;
  color: #fe6192;
  font-size: 1.5rem;
  margin: 2%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  header .triangle {
    width: 24%;
    right: 5%;
    bottom: 35%;
  }
  header .circle {
    width: 16%;
    left: 10%;
    top: 1%;
  }
  header .thin-circle {
    width: 10%;
    left: 26%;
    bottom: 5%;
  }
  h1 {
    width: 80%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    height: 65vh;
  }
  header .triangle {
    width: 28%;
    right: 2%;
    bottom: 35%;
  }
  header .circle {
    width: 20%;
    left: 10%;
    top: 20%;
  }
  header .thin-circle {
    width: 15%;
    left: 26%;
    bottom: 5%;
  }
  header .wrapper {
    margin-right: 13%;
  }
  header h1 {
    font-size: 4rem;
  }
  header h1 span {
    font-size: 6.5rem;
    line-height: 3.5rem;
  }
  header .dev-header {
    font-size: 1.3rem;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  nav .menu-button-container {
    margin-left: 0;
  }
  header {
    height: 50vh;
  }
  header .triangle {
    width: 25%;
    right: 1%;
  }
  header .thin-circle {
    width: 15%;
    left: 20%;
    bottom: 5%;
  }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 80%;
  }
  header h1 {
    margin-top: 20%;
    margin-left: -5%;
    font-size: 3rem;
    line-height: 4.5rem;
  }
  header h1 span {
    font-size: 5.5rem;
  }
  header .dev-header {
    margin-top: -15%;
    font-size: 1.2rem;
  }
}
.about {
  background-color: #f7f7f7;
  height: auto;
}
.about .text-container {
  text-align: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about .text-container p {
  color: black;
  line-height: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.about .text-container p:focus, .about .text-container p:hover {
  scale: 105%;
  color: #f8ca4d;
}
.about .text-container article {
  padding-top: 10%;
  color: rgb(158, 158, 158);
  line-height: 25px;
}
.about .text-container button {
  margin-top: 10%;
  color: #fe6192;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  background-color: #f7f7f7;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about .text-container button:focus, .about .text-container button:hover {
  scale: 1.1;
  text-decoration: underline;
  color: #f8ca4d;
}
.about .image-container {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  background-color: rgb(233, 232, 232);
  margin-left: 5%;
  border-radius: 25px;
}

.about-wrapper {
  padding-top: 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3%;
}
.about-wrapper .triangle {
  left: 10%;
  width: 10%;
}
.about-wrapper .circle {
  left: 10%;
  width: 6%;
  top: 25%;
}
.about-wrapper .thin-circle {
  width: 2%;
  right: 5%;
  bottom: 10%;
}

.section-header p,
.section-header h2 {
  text-align: center;
}
.section-header .divider {
  color: brown;
  font-size: 2.5rem;
}
.section-header p {
  padding-left: 45%;
  margin: 0;
}
.section-header h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.section-content {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-content p,
.section-content article {
  text-align: left;
}

@media (max-width: 940px) {
  .about .image-container {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .about .text-container {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    padding-bottom: 10%;
  }
  .about .text-container p {
    margin: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .about .image-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 10%;
  }
  .about .text-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .about .about-wrapper {
    padding-top: 0;
  }
  .about .image-container {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .about .text-container {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    margin-left: 2%;
  }
  .about .text-container p {
    font-size: 1rem;
    line-height: 25px;
    text-align: end;
  }
  .about .text-container article {
    display: none;
  }
}
.skills {
  background-color: #f8ca4d;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  height: 20vh;
}
.skills .skill-icon {
  padding-top: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills i {
  font-size: 3rem;
  margin: 2%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills i:hover {
  color: white;
  scale: 1.1;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .skills {
    height: 15vh;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .skills {
    height: 13vh;
  }
  .skills .skill-icon {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills i {
    font-size: 2.5rem;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .skills {
    height: auto;
  }
  .skills .skill-icon {
    padding-top: 5%;
    padding-bottom: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills i {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: center;
  }
}
.my-work {
  padding-top: 5%;
  padding-bottom: 5%;
  height: auto;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 98%, 0 100%);
          clip-path: polygon(0 5%, 100% 0, 100% 98%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  position: relative;
}
.my-work .triangle {
  width: 10%;
  left: 88%;
}
.my-work .circle {
  right: 10%;
  width: 6%;
  top: 45%;
  z-index: -1;
}
.my-work .thin-circle {
  width: 2%;
  left: 5%;
  bottom: 10%;
}
.my-work button {
  margin-top: 10%;
  color: #fe6192;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  background-color: white;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.my-work button:focus, .my-work button:hover {
  scale: 1.1;
  color: #f8ca4d;
}
.my-work a {
  text-decoration: none;
  color: #fe6192;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.my-work a:focus, .my-work a:hover {
  text-decoration: underline;
  color: #f8ca4d;
}

.project-wrapper {
  margin: 0 auto;
  width: 62%;
  height: auto;
}
.project-wrapper img {
  border-radius: 25px;
}
.project-wrapper .project {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.project-wrapper .thumnail {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  position: relative;
}
.project-wrapper .image-container {
  box-shadow: 10px 10px 7px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 7px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 7px -8px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
}
.project-wrapper .gif-container {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  width: 100%;
}
.project-wrapper .gif-container:focus, .project-wrapper .gif-container:hover {
  opacity: 1;
  display: block;
  scale: 1.05;
}
.project-wrapper .text-container {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
  padding-bottom: 2%;
}
.project-wrapper .t1 {
  margin-left: 2%;
}
.project-wrapper .t2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 2%;
}
.project-wrapper h3 {
  margin: 0;
  text-transform: uppercase;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .project-wrapper {
    width: 80%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .my-work .triangle {
    width: 25%;
    left: 1%;
    top: 35%;
  }
  .my-work .circle {
    right: 3%;
    width: 20%;
    top: 10%;
  }
  .my-work .thin-circle {
    width: 10%;
    left: 20%;
  }
  .my-work .section-header {
    padding-top: 5%;
  }
  .project-wrapper {
    width: 100%;
  }
  .project-wrapper .t2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .project-wrapper .thumnail,
  .project-wrapper .text-container {
    margin-left: 12%;
  }
  .project-wrapper .thumnail {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .project-wrapper .text-container {
    margin-top: 5%;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .project-wrapper .text-container p {
    display: none;
  }
  .project-wrapper .text-container button {
    margin-top: 2%;
  }
}
/* Landscape phones and down */
.contact {
  background-color: #f8ca4d;
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  position: relative;
}
.contact a {
  color: white;
}
.contact .triangle {
  width: 10%;
  left: 5%;
}
.contact .circle {
  width: 5%;
  right: 7%;
  bottom: 15%;
}
.contact .thin-circle {
  width: 3%;
  top: 10%;
  right: 30%;
}
.contact .form-section {
  margin-top: 2%;
  width: 600px;
}
.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 10% 0% 10%;
}
.contact form label {
  color: white;
}
.contact form input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  padding: 2%;
  margin: 0% 10% 5% 0%;
  outline: none;
}
.contact form input::-webkit-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.contact form input::-moz-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.contact form input:-ms-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.contact form input::-ms-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.contact form input::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.contact form textarea {
  width: 100%;
  background: none;
  border: 2px solid white;
  resize: none;
  border-radius: 10px;
}
.contact button {
  border-radius: 10px;
  margin-top: 10%;
  margin-right: 12%;
  color: #fe6192;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  background-color: #f8ca4d;
  width: 20%;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #fe6192;
  padding: 1%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 150px;
}
.contact button:focus, .contact button:hover {
  scale: 1.1;
}
.contact .my-info {
  text-align: center;
  width: 200px;
}
.contact .my-info .email {
  color: #fe6192;
}
.contact .my-info p {
  margin-top: 20%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}
.contact .my-info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin-left: 10%;
  color: white;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .contact .triangle {
    width: 15%;
    left: 5%;
  }
  .contact .circle {
    width: 15%;
    right: 7%;
    bottom: 15%;
  }
  .contact .thin-circle {
    width: 8%;
    top: 10%;
    right: 5%;
  }
  .contact .form-section {
    width: 400px;
  }
}
footer {
  background-color: #f8ca4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* Fade in left */
.fadeInLeft {
  -webkit-animation: fadeInLeft 1.2s both; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation: fadeInLeft 1.2s both; /* IE 10+, Fx 29+ */
}

/* Safari 4+ */
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
/* Fx 5+ */
/* Opera 12+ */
/* IE 10+, Fx 29+ */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* Fade in top */
.fadeInTop {
  -webkit-animation: fadeInTop 1.2s both; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation: fadeInTop 1.2s both; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Fade in right */
.fadeInRight {
  -webkit-animation: fadeInRight 1.2s both; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation: fadeInRight 1.2s both; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}